@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
}

body {
background-color:black;
}
.links {
  text-align: center;
  
}

.text {
  text-align: center;
  
}
.copyright {
  color:white;
  text-align: center;
 
}
