

body {
  margin:0;
  padding: 0;
background-color:black;
}
.link1 {
  background-color: black;
  font-weight: bold;
  color: cyan;
  position: absolute;right: 2rem;
 top: 8rem;
 font-size: 25px;
 cursor:pointer;
 border-radius: 100px;
 left: 20px;
 border:3px solid #00d7eb;
 outline: none;
 transition: ease-in 2s;
}

.link2 {
  background-color: black;
  font-weight: bold;
  color: cyan;
  position: absolute;right: 2rem;
  bottom: 21rem;
  font-size: 25px;
  cursor: pointer;
  border-radius: 100px;
  left: 20px;
  border: 3px solid #00d7eb;
  outline: none;
  
}
.link3 {
  
  background-color: black;
  font-weight: bold;
  color: cyan;
  position: absolute;right: 2rem;
 font-size: 25px;
 cursor: pointer;
 border-radius: 100px;
 top: 25rem;
 left: 20px;
 border: 3px solid #00d7eb;
 outline: none;
 
}
.text {
  text-align: center;
  font-size: 13px;
  
 
}
.copyright {
  
  text-align: center;
  position: relative;bottom:-32rem;
 
}
.link1:hover {
  text-shadow: 0 0 4px cyan, 0 0 4px #00d7eb;
}
.link2:hover {
  text-shadow: 0 0 4px cyan, 0 0 4px #00d7eb;
}
.link3:hover {
    text-shadow: 0 0 4px cyan, 0 0 4px #00d7eb;
}
